
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 { text-align: center; }
        .iframebox {
            position: relative;
            width: 85%;
            padding-bottom: 56%;
        }
        .iframebox iframe {
            position: absolute;
            width: 90%;
            height: 100%;
        }
    </style>
</head>
<body>
    <h1> Dashboard</h1>
    <div style="text-align: center;">
        <button type="button" class="navyBtn" onClick="location.href='/'"> 설문조사 </button><br>
    </div> <br>
    <div class="iframebox">
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/3658abfa-e1f6-4f69-8798-f7114f31cf6d/page/lpEwC" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="iframebox">
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/6cec064c-a589-4b0a-aa19-1aa144ecb96d/page/V7DwC" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</body>
</html>
